<div class="overflow-x-auto">
    <table mat-table [dataSource]="files" class="w-full">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let file">{{file.id}}</td>
      </ng-container>
      
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre del archivo</th>
        <td mat-cell *matCellDef="let file">{{file.nombre}}</td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let file">
          <button mat-button color="primary" (click)="downloadFile(file.id, file.nombre)">Descargar</button>
          <button mat-button color="warn" (click)="deleteFile(file.id)">Eliminar</button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <mat-paginator 
    [length]="totalFiles"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    class="mt-4">
  </mat-paginator>