<div class="file-grid">
  <div *ngFor="let file of files" class="file-item">
    <div class="image-container">
      <img *ngIf="isImageFile(file.contentType)" [src]="file.blobUrl" [alt]="file.nombre" class="file-image">
      <div *ngIf="!isImageFile(file.contentType)" class="non-image-placeholder">
        <mat-icon>insert_drive_file</mat-icon>
      </div>
      <div class="file-actions">
        <button mat-icon-button color="primary" (click)="downloadFile(file.id, file.nombre)" matTooltip="Download">
          <mat-icon>download</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteFile(file.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="file-name" [matTooltip]="file.nombre">{{ file.nombre }}</div>
  </div>
</div>

<mat-paginator 
  [length]="totalFiles"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
  class="mt-4">
</mat-paginator>